@import url("https://fonts.googleapis.com/css2?family=Cambay:ital,wght@0,400;0,700;1,400;1,700&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Metamorphous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import "tailwindcss";

@theme inline {
    --animate-scroll: scroll var(--animation-duration, 40s) var(--animation-direction, forwards) linear infinite;

    @keyframes scroll {
        to {
            transform: translate(calc(-50% - 0.5rem));
        }
    }
}

.page {
    @apply lg:p-8 p-6 h-dvh w-dvw;
}

.auth-page {
    @apply flex flex-col md:flex-row h-dvh w-dvw lg:p-8 p-6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Outfit", sans-serif;
}

p {
    font-family: "Cambay", sans-serif;
}

.fancy {
    font-family: "Metamorphous", serif;
}

.gradient-primary {
    @apply bg-gradient-to-r from-teal-400 to-indigo-600 text-transparent bg-clip-text;
}

.hero-section {
    @apply lg:px-8 px-6 space-y-2 max-w-[1600px] pt-20 min-h-[100dvh];
}

.problem-statement-section {
    @apply lg:px-8 px-6 lg:py-20 py-20 space-y-2 max-w-[1600px] min-h-[100dvh];
}

.solution-overview-section {
    @apply lg:px-8 px-6 lg:py-20 py-20 space-y-2 max-w-[1600px] min-h-[100dvh];
}

.how-it-works-section {
    @apply lg:px-8 px-6 lg:py-20 py-20 space-y-2 max-w-[1600px] bg-zinc-900 text-white;
}

.social-proof-section {
    @apply lg:px-8 px-6 lg:py-20 py-20 space-y-2 max-w-[1600px] min-h-[100dvh];
}

.scroll-stack-card-1 {
    background-image: url("../public/hero/personalized-analysis.svg");
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

.scroll-stack-card-2 {
    background-image: url("../public/hero/learning-path.svg");
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

.scroll-stack-card-3 {
    background-image: url("../public/hero/ai-mentor.svg");
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

.scroll-stack-card-4 {
    background-image: url("../public/hero/real-world.svg");
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

.scroll-stack-card-5 {
    background-image: url("../public/hero/future-proof-skills.svg");
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}
